argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
distlib==0.3.9
filelock==3.17.0
identify==2.6.6
idna==3.10
iniconfig==2.0.0
jinja2==3.1.5
joblib==1.4.2
liac-arff==2.5.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
markupsafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.15.0
minio==7.2.15
nodeenv==1.9.1
numpy==2.2.2
openml==0.15.1
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.1.0
psutil==6.1.1
pyarrow==19.0.0
pycparser==2.22
pycryptodome==3.21.0
pygments==2.19.1
pyright==1.1.393
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruff==0.9.4
scikit-learn==1.6.1
scipy==1.15.1
six==1.17.0
textual==1.0.0
threadpoolctl==3.5.0
tqdm==4.67.1
typing-extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
urllib3==2.3.0
virtualenv==20.29.1
xmltodict==0.14.2
